body{
  margin: 0;
}

.container{
  height: 400px;
  background-color: rgb(119, 59, 138);
}

.left{
  height: 400px;
  width: 200px;
  background-color: beige;
  font-size: 70px;
  line-height: 400px;
  text-align: center;
}

.right{
  height: 400px;
  background-color: darksalmon;
  font-size: 70px;
  line-height: 400px;
}

/* 清除浮动 */

.clearfix::after{
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}